!Build/
.last_cover_stats
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

.DS_Store
*.bak
*.log
*.out
nytprof.out
nytprof/
*.komodoproject

/Astro-*
/dist

script/swisseph.pl
*.yml
.vscode
.vstags
.pls_cache/index
